{% extends "layout.html" %}
{% block title %}Centros{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Administración de Centros</h1>
      <hr>
      <form action="{{ url_for('center_index') }}">
        <div class="row">
          <div class="form-group col-8">
            {{ search_form.search.label }}
            {{ search_form.search }}
          </div>
          <div class="form-group col-4">
            {{ search_form.select.label }}
            {{ search_form.select }}
          </div>
          <div class="form-group col-8">
            <input class="btn btn-warning" type="submit" value="Buscar">
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Direccion</th>
              <th scope="col">Telefono</th>
              <th scope="col">Tipo de centro</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for center in centers.items %}
            <tr>
              <td>{{ center.name }}</td>
              <td>{{ center.address }}</td>
              <td>{{ center.phone }}</td>
              <td>{{ tiposDeCentro[center.center_type_id] }}</td>
              <td>
                <div class="col justify-content-around">
                  <a href="{{ url_for('center_edit', id=center.id)}}" class="btn btn-success btn-sm">
                    Editar
                  </a>
                  {% if (email_has_role(session["user"],"Admin") or email_has_role(session["user"],"Operator")) %}
                  {% if is_pending(center)%}
                  <!-- Boton de aceptar y rechazar -->
                  <button type="submit" class="btn btn-info btn-sm" data-toggle="modal"
                    data-target="#modal_aceptar-{{ center.id }}">
                    Aceptar
                  </button>
                  <!-- Modal Aceptar-->
                  <div class="modal fade" id="modal_aceptar-{{ center.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Aceptar centro</h5>
                          <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>¿Estás seguro que querés aceptar el centro "{{ center.name }}"?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          <form action="{{ url_for('center_accept') }}" method="POST">
                            {{ accept_form.csrf_token }}
                            {{ accept_form.center_id(value=center.id) }}
                            <button type="submit" class="btn btn-danger">Confirmar</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-info btn-sm" data-toggle="modal"
                    data-target="#modal_rechazar-{{ center.id }}">
                    Rechazar
                  </button>
                  <!-- Modal Rechazar -->
                  <div class="modal fade" id="modal_rechazar-{{ center.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Rechazar centro</h5>
                          <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>¿Estás seguro que querés rechazar el centro "{{ center.name }}"?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          <form action="{{ url_for('center_reject') }}" method="POST">
                            {{ reject_form.csrf_token }}
                            {{ reject_form.center_id(value=center.id) }}
                            <button type="submit" class="btn btn-danger">Confirmar</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                  {%endif%}
                  {%endif%}
                  {%if email_has_role(session["user"],"Admin")%}

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger btn-sm {{ should_be_disabled }}" data-toggle="modal"
                    data-target="#modal_eliminar-{{ center.id }}">
                    Eliminar
                  </button>

                  <!-- Modal Eliminar -->
                  <div class="modal fade" id="modal_eliminar-{{ center.id }}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Eliminar centro</h5>
                          <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>¿Estás seguro que querés eliminar el centro "{{ center.name }}"?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                          <form action="{{ url_for('center_delete') }}" method="POST">
                            {{ delete_form.csrf_token }}
                            {{ delete_form.center_id(value=center.id) }}
                            <button type="submit" class="btn btn-danger">Confirmar</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  {%endif%}
                  <div>
                    <a class="btn btn-dark btn-sm" href="{{ url_for('turn_index', id=center.id) }}">
                      Turnos
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <ul class="pagination">
          {% if centers.has_prev %}
          <li class="page-item"> <a class="page-link"
              href="{{ url_for('center_index', page=centers.prev_num, search=search_form.search.data, select=search_form.select.data) }}">Anterior</a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link btn disabled" href="#">Anterior</a></li>
          {% endif %}


          {% if centers.has_next %}
          <li class="page-item"> <a class="page-link"
              href="{{ url_for('center_index', page=centers.next_num, search=search_form.search.data, select=search_form.select.data) }}">Siguiente</a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link btn disabled" href="#">Siguiente</a></li>
          {% endif %}

        </ul>

      </div>
      <a href="{{ url_for('center_new') }}" class="btn btn-primary">Nuevo Centro</a>
      <a href="{{ url_for('home') }}" class="btn">Volver al inicio</a>
    </div>
  </div>
</div>
{% endblock %}